.container {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;

    a {
        display: block;
        margin: 20px;
    }

    a:hover {
        cursor: pointer;
    }
}