<form [formGroup]="form2" (submit)="onSubmit(form2.value, 'form2')">
    <select formControlName="marital_status" name="marital-status" id="marital-status">
        @for (maritalStatu of maritalStatus; track $index) {
            <option [value]="maritalStatu">{{ maritalStatu }}</option>
        }
    </select>

    <select formControlName="municipality" name="municipality" id="municipality">
        @for (municipality of municipalitys; track $index) {
            <option [value]="municipality">{{ municipality }}</option>
        }
    </select>

    <input type="submit">
</form>
